.TAM_cases{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}
.TAM_cases-img{
    width: 100%;
}
.TAM_cases-img img{
    width: 100%;
}
.TAM_cases h1{
    margin-top: 20px;
}
.TAM_cases-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px 30px;
}
.TAM_cases-content h5{
    color: #27375d;
    font-family: "Poppins", sans-serif;
    font-weight: 650;
    font-size: 16px;
}
.TAM_cases-content p,
.TAM_cases-content ul li{
    font-size: 15px;
    color: #5e5e5e;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}
.TAM_cases-content ul li{
    padding-left: 15px;
}
.TAM_cases-content-buttons button{
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    color: #fff;
    background-color: #27375d;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    cursor: pointer;
}
.TAM_cases-content-buttons{
    display: flex;
    gap: 10px;
    padding: 15px 15px;
}

@media (max-width: 500px){
    .TAM_cases{
        margin-top: 0px;
    }
    .TAM_cases-img{
        width: -webkit-fill-available;
    }
    .TAM_cases-img img{
        width: -webkit-fill-available;
    }
}